.Help-1 {
    width: 187.5px;
    height: 406px;
    padding: 7px 0 0;
    background-color: #fafafd;
  }

.Rectangle{
    width: 66.5px;
    height: 67.5px;
    margin: 0 18.5px 8.5px 16.5px;
    padding: 13.2px 11px 10.5px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.16);
    background-color:#fff;
  }

  .Text-Design {
    width: 44.5px;
    height: 8.5px;
    font-family: Inter;
    font-size: 7px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0a0a14;
  }
  